/* pentru a fi o modificare in text la atingere folosim selectorii dati: .elementx:hover{aici punem ce ne intereseaza x} */
/* pentru ca sa avem o culoare in spate la text ,subliniat ,folosim: .test{color:x} pentru CSS si in html punem test in selectorul de clasa, 
ex. <p class="paragraf1 test>"*/
:root{
    --brand-color: #404bbf;
    --dark-color: #2E2F42;
    --text-font-family: "Roboto",sans-serif;
}
body{
    color: #434455;
    background-color:var(--WHITE,#FFFFFFFF) ;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
/* header of the page */
.header-container{
    background: var(--WHITE, #ffffff);
   
   
}
/* logo */
.logo-link{
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-info{
    color: var(--NAVY-BLUE, #2E2F42);  
}
.link{
    text-decoration: none;
}
/* list links */
.list{
    list-style: none;
}
.list-link{
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;

}
.list-link:hover,
.list-link:focus{
    color: var(--brand-color);
}
/* address container */
.address-container{
    font-style: normal;
}
.address-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;

}
.address-link:hover,
.address-link:focus{
    color: var(--brand-color );
}
/* main of the page */
.hero-section{
    background-color: #2e2f42;
}
/* main title */
.hero-title{
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%; 
    letter-spacing: 0.02em;
    text-align: center;
   
}
/* button */
.button-style{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.04em;
    line-height: 1.5;
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
}
.button-style:hover,
.button-style:focus{
    color: var(--brand-color);
    background: var(--IRIS, #404bbf);
}
/*all sections */
.subtitle{
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize; 
}
.list-box{
    border: 1px solid #000;
}
.secondary-title{
    color: var(--dark-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}
.paragraf{
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.last-paragraf{
    color: var(--CLOUD, #F4F4FD);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.img-info{
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}
.team-section{
    background-color: #F4F4FD;
}
.list-info{
    background-color: #FFFFFFFF;
}
/* footer */
.footer-container{
    background-color: #2e2f42;
}
.second-logo{
    color: #F4F4FD; 
}
.footer-list{
    color: var(--OCEAN, #F4F4FD); 
    text-decoration: none;
}
/* portfolio */
.button-info{
    color: var(--WHITE, #4d5ae5);
    font-family: "Roboto",sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    background: var(--CLOUD, #F4F4FD);
    cursor: pointer; 
}
.button-info:hover,
.button-info:focus{
    color: #FFFFFFFF;
    background-color: #404BBF;
}
.link-title{
    color: var(--NAVY-BLUE, #2E2F42); 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}
