/* pentru a fi o modificare in text la atingere folosim selectorii dati: .elementx:hover{aici punem ce ne intereseaza x} */
/* pentru ca sa avem o culoare in spate la text ,subliniat ,folosim: .test{color:x} pentru CSS si in html punem test in selectorul de clasa, 
ex. <p class="paragraf1 test>"*/
:root{
    --brand-color: #404bbf;
    --dark-color: #2E2F42;
    --text-font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
     box-sizing: border-box; 
  }
body{
    color: #434455;
    background-color:var(--WHITE,#FFFFFFFF) ;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; 
}
.app-container{
   
    width: 1200px;
    height: auto;
    
}
/* header of the page */
.header-container{
    background: var(--WHITE, #ffffff);
    width: 1200px;
    height: 72px;
    border-bottom: 1px;
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    justify-content: space-between;
   
}
.header-section{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    margin-left: 60px;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
.logo-link{
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 44px;
    height: auto;
    padding: 18px 0 18px 18px;
    margin-right: 76px;
    
}
.logo-info{
    color: var(--NAVY-BLUE, #2E2F42); 
    width: 71px;
    padding: 18px 18px 18px 0; 
}
.link{
    text-decoration: none;
    padding: 0;
    
}
/* list links */
.list{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
}

.list-link{
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;

    padding: 24px 0;
}
.list-link:hover,
.list-link:focus{
    color: var(--brand-color);
}


/* address container */
.address-container{
    font-style: normal;
    display: flex;
    gap: 40px;
    
}
.address-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    
}
.address-link:hover,
.address-link:focus{
    color: var(--brand-color );
}
/* main of the page */
.hero-section{
    background-color: #2e2f42;
    padding: 188px 0;
    margin-top: 43px;
   
}
/* main title */
.hero-div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.hero-title{
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%; 
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: bold;
    line-height: 60px;

    max-width: 496px;
    border: 1px;
  
}
/* button */
.button-style{
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.04em;
    line-height: 1.5;
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
    padding:16px 32px 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px; 
 
}
.button-style:hover,
.button-style:focus{
    color: var(--WHITE, #ffffff);
    background: var(--OCEAN, #404BBF);
}
/*section 2 */
.all-sections{
    padding: 94px 0 94px 0;
}
.skills-section{
    padding: 120px 0;
}
.skills-container{
    border: 1px;
    width: 100%;
    min-width: 264px;
}
.visually-hidden{
    position:absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path:inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}
.skills-list{
    list-style: none;
    display: flex;
    gap: 24px;
}

li.box-list{
    border: 1px solid #000;
    width: calc((100% - 72px) / 4);
}
.secondary-title{
    color: var(--dark-color);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}
.skills-paragraf{
    color: var(--SLATE, #434455);
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
/* section 3 */
.img-section{
    padding-bottom: 120px;
}
.img-container{
   
    width: 100%;
    min-width: 264px;
}
.subtitle{
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    padding: 36px; 
    border: 40px; 
    margin-bottom: 72px; 
    
}
.list-img{
   list-style: none;
   display: flex;
   gap: 24px;
    
}
img{
    display: block;
}
.img-info-list{
    width: calc((100% - 48px) / 3);

}
/* section 4 */
.team-section{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.list-container{
    width: 100%;
    min-width: 264px;
}
.team-list{
    list-style: none;
    display: flex;
    gap: 24px;
}
.info-list{
    background-color: #FFFFFFFF;
    margin-top: 72px;
    margin-bottom: 120px;
    padding-bottom: 32px;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
}
.name-post-div{
    padding: 32px 0;
}
.p-career{
    color: var(--SLATE, #434455);
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    text-align: center;
}

/* footer */
.footer-container{
    background-color: #2e2f42;
    width: 1200px;
    height: 312px;
    padding: 100px 0;
    
}

.footer-link{
    text-decoration: none;
    padding: 24px 0;
    padding: 60px 20px 15px 20px;
    margin-top: -60px;
    margin-bottom: 16px;
    margin-left: 66px;
    display: inline-block;
}
.second-logo{
    color: #F4F4FD; 
}
.footer-paragraf{
    color: var(--CLOUD, #F4F4FD);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    height: 72px;
    margin-left: 82px;
    max-width: 264px;
}
.contact-div{
    
    margin-top: 40px;
    margin-left: 20px;
}
.footer-list{
    list-style: none;
    padding: 20px;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    margin-top: -20px;
}
.footer-contact{
    color: white;
    text-decoration: none;
}

/* portfolio */
.main-section{
    padding-top: 96px;
    padding-bottom: 120px;
}
.main-div{
    padding: 0;
    margin-left: 20px;  
}
.button-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.button-info{
    color: var(--WHITE, #4d5ae5);
    font-family: "Roboto",sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    background: var(--CLOUD, #F4F4FD);
    cursor: pointer; 
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}
.button-info:hover,
.button-info:focus{
    color: #FFFFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}
.second-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    
}
.secondary-list{
    width: calc((100% - 48px) / 3);
}
.link-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    max-width: 360px;
}
.link-title{
    color: var(--NAVY-BLUE, #2E2F42); 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}
